button.topBarMenuButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--thread-top-bar-menu-color);
}

div.topBarMenuActionList {
  position: absolute;
  right: 10px;
  top: 55px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--thread-menu-bg);
  border-radius: 4px;
  padding: 5px 0px;
}

div.disabled {
  display: none;
}

button.topBarMenuAction {
  z-index: 1;
  background-color: transparent;
  padding: 15px;
  color: var(--thread-menu-color);
  background-color: var(--thread-menu-bg);
  font-size: var(--m-font-16);
  border: none;
  cursor: pointer;
  display: flex;
  column-gap: 8px;
  align-items: center;
}

button.topBarMenuAction:hover {
  color: var(--thread-menu-color-hover);
}

div.topBarMenuActionIcon {
  display: flex;
  justify-content: center;
  width: 20px;
}

button.topBarMenuActionDangerous {
  color: var(--thread-menu-color-dangerous);
}
button.topBarMenuActionDangerous:hover {
  color: var(--thread-menu-color-dangerous-hover);
}
