@import '../../theme.css';

div.promptButtonContainer {
  display: flex;
  background-color: var(--relationship-actions-bg);
}
button.promptButton {
  margin: 0.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 1;
  border-radius: 0.2rem;
  border: none;
}

svg.promptIcon {
  font-size: 1rem;
  padding: 0.5rem;
}
