.container {
  grid-area: sBar;
  background: var(--bg);
  color: var(--fg);
  border-right: 1px solid var(--border-color);
  display: flex;
}

.appSwitcherContainer {
  width: 160px;
  margin-top: 24px;
}

div.appTab {
  display: flex;
  flex-direction: row;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 28px;
  cursor: pointer;
}
div.appTab svg {
  padding-right: 12px;
  color: var(--color-disabled);
  stroke: var(--color-disabled);
  fill: var(--color-disabled);
}
div.appTab p {
  color: var(--color-disabled);
}

div.appTab:hover p,
div.appTab:hover svg,
div.activeTab p,
div.activeTab svg {
  color: var(--fg);
  stroke: var(--fg);
  fill: var(--fg);
}

.chatIconWrapper {
  position: relative;
}

div.chatBadge {
  position: absolute;
  top: -4px;
  left: 13px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  color: var(--fg);
  background: var(--unread-bg);
  border-radius: 13px;
  font-size: 8px;
  line-height: 1.25;
}
