.cycling_header {
  font-weight: bold;
  font-family: 'iA Writer Duo S', monospace;
  padding-bottom: 16px;
  font-size: clamp(0.8rem, -0.11rem + 3.66vw, 2.6rem);
}
@media (max-width: 1099px) {
  .cycling_header {
    font-size: clamp(1.5rem, 0.0715rem + 5.715vw, 4rem);
  }
}

.sub_heading {
  color: var(--sub-heading-color);
  --smallest-font-size: 16px;
  --largest-font-size: 50px;
  --font-scale: calc(0.75rem + 1.25vw);

  font-size: clamp(
    var(--smallest-font-size),
    var(--font-scale),
    var(--largest-font-size)
  );
  margin-bottom: 60px;
}

form {
  width: 92%;
}
@media (max-width: 1099px) {
  form {
    width: 100%;
  }
}

.cycling_content,
.sub_heading {
  font-family: 'iA Writer Duo S', monospace;
  text-align: left;
  line-height: 1.35;
}

.cycling_content {
  background: var(--sub-heading-color);
}

.contentWrapper {
  flex-basis: 300px;
}
