div.modalContentContainer {
  width: 383px;
  height: 617px;
}

div.membersList {
  overflow: scroll;
  padding: 8px 0;
  color: var(--members-modal-member-text);
}

div.noScroll {
  overflow: hidden;
}

div.memberContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 16px;
}

div.memberContainer:hover {
  color: var(--members-modal-member-text-hover);
}

div.memberContainerWithMenuOpen {
  color: var(--members-modal-member-text-hover);
}

div.memberInfo {
  font-size: var(--l-font-18);
  display: flex;
  align-items: center;
  gap: 10px;
}

div.memberAction {
  position: relative;
}

h5.memberletterHeader {
  margin: 16px;
  color: var(--members-modal-member-text);
  font-size: var(--s-font-14);
}

div.noUsers {
  padding-top: 16px;
  text-align: center;
}

div.addMembersContent {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  color: var(--fg);
  row-gap: 16px;
  width: 383px;
  height: 617px;
}

div.addMembersListContainer {
  overflow: scroll;
  flex: 1;
}

div.addMembersFooter {
  display: flex;
  justify-content: end;
  column-gap: 8px;
}
div.addMembersFooter button:disabled {
  cursor: not-allowed;
}

div.addMemberItemsGroupHeader {
  font-size: var(--s-font-14);
  color: var(--add-members-group-header-color);
  margin: 16px;
}
div.addMemberItemsGroupHeader::first-letter {
  text-transform: capitalize;
}
div.addMemberItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--add-members-item-color);
  cursor: pointer;
  font-size: var(--l-font-18);
}

div.addMemberItem:hover {
  color: var(--add-members-item-color-hover);
}

div.addMemberItemDisabled {
  color: var(--add-members-item-disabled-color);
  cursor: not-allowed;
}

div.addMemberItemDisabled:hover {
  color: var(--add-members-item-disabled-color-hover);
}

div.addMemberName {
  padding: 8px 16px;
}

div.addMemberAction {
  padding: 8px 16px;
}

div.addMemberItem .danger {
  color: var(--add-members-remove-pending-color);
}
div.addMemberItem:hover .danger {
  color: var(--add-members-remove-pending-color-hover);
}
